<!DOCTYPE html>
<html lang="en" ng-app="site">
<head>
    <meta charset="UTF-8">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIwpUz0dqnGm5qxO1ggDQB0dkt25queRA&callback=initialize"></script>

    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js.map"></script>
    <script src="javascripts/client.js"></script>
    <script src="javascripts/controller.js"></script>
    <script src="javascripts/ContactController.js"></script>
    <script src="javascripts/AddController.js"></script>
    <script src="javascripts/HomeController.js"></script>
    <script src="javascripts/ResultsController.js"></script>
    <base href="/">
    <title>Donate-A-Tron 3000</title>
</head>

<body onLoad="initialize()">
        <div class = "wrapper" ng-controller="MainController">
            <img class = "logo" src="../images/SquaresMedium.jpg">
            <h1 class = "title">Think Organized</h1>

            <div id = "map"></div>
                <div class = 'main'>

                    <ng-view></ng-view>

                </div>

            <footer class="footer">
                <a class = "footerButtonLeft" href="/">Home</a>
                <a class = "footerButton" href="/add">Add A Site</a>
                <a class = "footerButton" href="/contact">Contact</a>
            </footer>

        </div>

</body>



</html>