<!DOCTYPE html>
<html lang="en" ng-app="site">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>-->
    <!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIwpUz0dqnGm5qxO1ggDQB0dkt25queRA&callback=initMap" async defer></script>

    <link rel="stylesheet" href="./stylesheets/style.css"/>

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="javascripts/controller.js"></script>
    <script src="javascripts/ContactController.js"></script>
    <title>Donate-A-Tron 3000</title>
</head>

<body>
<div class = "wrapper" ng-controller="MainController">
    <img class = "logo" src="../images/SquaresMedium.jpg">
    <h1 class = "title">Donate-A-Tron 3000</h1>


        <div class = 'main'>

            <input class="inputHere" type="text" placeholder="Name" ng-model="newName">
            <input class="inputHere" type="text" placeholder="Address" ng-model="newLocation">
            <input class="inputHere" type="tel" placeholder="Phone #" ng-model="newPhone">
            <input class="inputHere" type="text" placeholder="Hours" ng-model="newHoursAccepting">
            <input class="inputHere" type="text" placeholder="Notes" ng-model="newNotes">
            <button class="add" ng-click="addNewSite()">Add</button><br>

            <button class = 'btn1' ng-click="getData()">Search For sites</button><br>



        </div>
            <ul>
                <li ng-repeat="thing in donationList">
                    <span ng-class="here" class ="siteName">{{thing.name}}</span><br>
                    <span ng-class="here" class ="siteInfo">{{thing.location}}</span><br>
                    <span ng-class="here" class ="siteInfo">{{thing.phone}}</span><br>
                    <span ng-class="here" class ="siteInfo">{{thing.hoursAccepting}}</span><br>
                    <span ng-class="here" class ="siteInfo">{{thing.notes}}</span><br>
                    <span ng-class="here" class ="siteInfo">{{thing.distanceAway}}</span><br><br>
                </li>
                <!--<li ng-repeat = "thing in distanceArray">{{thing}}</li>-->
            </ul>



        <div>
            <ng-view></ng-view>


        </div>

</div>

</body>




<footer>
    <a class = "footerButton" href="/">Home</a>
    <a class = "footerButton" href="/add">Add A Site</a>
    <a class = "footerButton" href="/contact">Contact</a>
</footer>

</html>