body {
  padding: 50px;
  font: 14px Arial,"Lucida Grande", Helvetica, sans-serif;
}

a {
  color: #0c4368;
}

p {
  font-size:30px;
  color: #0c4368;
}

.title {
  margin-top: 10px;
  margin-left: 14px;
  float: left;
  font-size: 76px;
  color: #0c4368;
}

.logo {
  width: 250px;
  float:left;

}
li {
  font-size: 30px;
}

.main {
  clear: both;
  margin: 0 auto;
  width:100%;
  padding-top: 42px;
}
.inputHere {
  display:block;
  padding: 35px;
  margin:13px;
  width:100%;
  font-size:46px;
}

.wrapper{
  max-width:960px;
  margin: 0 auto;

}

.add {
  width: 63%;
  font-size: 45px;
  margin: 55px 143px;
  padding: 65px;
  background-color: #3364BF;
  border-radius: 47px;
  text-underline: none;

}

.searchButton {
  width: 50%;
  text-align: center;
  font-size: 45px;
  margin: 55px 143px;
  padding: 65px;
  background-color: #1d6e99;
  border-radius: 47px;
  text-decoration: none;
  display: block;
  color:black;

}


.searchButton:hover {
  background-color: #629046;
}


.footer{
  width: 50%;
  font-size: 40px;
  margin-top: 200px;
  display: inline;
  text-align: center;
  color: #0c4368;
}

.footerButtonLeft{
  padding-left:37px;
}

.footerButton{
  padding-left: 173px;
  color: #0c4368;
}
.siteInfo {
  color:#0C4368;
}

.siteName{
 color: #ba4544;
}

.siteDistance{
  color: #629046;
}

#fa {
  font-size:50px;
}
#fa-spin {
  -webkit-filter: blur(0);
}
#fa-cog {
  color: #15abff;
}