body {
  padding: 50px;
  font: 14px Arial,"Lucida Grande", Helvetica, sans-serif;
}

a {
  color: #0c4368;
}

p {
  font-size:30px;
  color: #0c4368;
}

.title {
  margin-top: 10px;
  margin-left: 14px;
  float: left;
  font-size: 500%;
  color: #0c4368;
}

.logo {
  width:25%;
  float:left;

}

li {
  font-size: 20px;
}

.main {
  clear: both;
  margin: 0 auto;
  width:100%;
  padding-top: 42px;
}
.inputHere {
  display:block;
  padding: 35px;
  margin:13px;
  width:83%;
  font-size:46px;
}

.wrapper{
  max-width:960px;
  margin: 0 auto;

}

.add {
  width: 63%;
  font-size: 45px;
  margin: 55px 143px;
  padding: 65px;
  background-color: #3364BF;
  border-radius: 47px;
  text-underline: none;

}

.btn-primary{
  padding:20px 50px;
  margin:55px auto;
  border-radius: 5%;
  background-color: #3364BF;
  color:black;
}

/*.searchButton {*/
  /*width: 50%;*/
  /*text-align: center;*/
  /*font-size: 45px;*/
  /*margin: 55px 143px;*/
  /*padding: 65px;*/
  /*background-color: #1d6e99;*/
  /*border-radius: 47px;*/
  /*text-decoration: none;*/
  /*display: block;*/
  /*color:black;*/

/*}*/


.btn-primary:hover {
  background-color: #629046;
}

.siteInfo {
  color:#0C4368;
}

.siteName{
 color: #ba4544;
}

.siteDistance{
  color: #629046;
}

#fa {
  font-size:50px;
}
#fa-spin {
  -webkit-filter: blur(0);
}
#fa-cog {
  color: #15abff;
}


/*Media Queries*/
@media (min-width:300px) and (max-width:630px) {
  body{

  }
  .logo {
    width:35%;
  }

  .title{
    font-size:30px;
  }
  .add {
    width: 106%;
    font-size: 14px;
    margin: 50px 13px;
    padding: 12px;
    background-color: #3364BF;
    border-radius: 7px;
    text-underline: none;

  }
  .inputHere {
    display:block;
    padding: 35px;
    margin:13px;
    width:83%;
    font-size:14px;
  }
  .btn-primary{
    width:460%;
    padding:10px ;
    margin:55px 10px;
    border-radius: 5%;
    background-color: #3364BF;
    color:black;
  }
  .inputHere {
    display:block;
    padding: 6px;
    margin:12px;
    width:89%;
    font-size:16px;
  }

  #fa {
    font-size:10px;
  }
  li{
    font-size:12px;
  }
}